html{
    color:rgb(39, 37, 37);
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    text-align: left;

    @media (max-width: 1000px) {
        .columns{
            flex-wrap: wrap;
            gap: none;
        }   
      }
}

body{
    width:90%;
    margin: auto;
}


.image-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
}

.responsiveimage{
    max-width: 48%;
    height:auto;
    object-fit: cover;
}


.bigtitle{
    font-size: 50px;
    margin-bottom: 1rem;
    @media (min-width: 200px) {
        font-size:30px;
        }

     @media (min-width: 500px) {
            font-size: 40px;
            }
    
     @media (min-width: 760px) {
        font-size: 50px;
            }
}



section{
    margin-bottom: 2rem;
    width: 80%;
    margin-left:auto;
    margin-right:auto;
}

.columns{
    display:flex;
    max-width: 900px;
    margin:auto;
    gap: 3rem;

    @media (min-width: 200px) {
        font-size: 0.8rem;
        }

     @media (min-width: 500px) {
            font-size: 0.9rem;
            }
    
     @media (min-width: 760px) {
        font-size: 1rem;
            }
}
.sectionstyles{
    width: 50%;
    @media (min-width: 200px) {
        width: 90%;
        }

    @media (min-width: 500px) {
            width: 80%;
            }
    
    @media (min-width: 760px) {
        width: 60%;
            }
}

h1{
    color: rgb(39, 39, 39);
    letter-spacing: -0.02em;
    text-transform:capitalize;
    font-family: "Raleway", sans-serif;
}

h2{
    color: rgb(90, 88, 88);
    letter-spacing: -0.02em;
    text-transform:capitalize;
    font-family: "Raleway", sans-serif;
    margin-bottom: 0%;
}

h3{
    color: rgb(49, 134, 237);
    font-size: 15px;
    @media (min-width: 200px) {
        font-size: 0.8rem;
        }

    @media (min-width: 500px) {
            font-size: 0.9rem;
            }
    
    @media (min-width: 760px) {
        font-size: 1rem;
            }

}

h4{
    color: rgb(49, 134, 237);
    font-size: 15px;

    @media (min-width: 200px) {
        font-size: 0.8rem;
        }

     @media (min-width: 500px) {
            font-size: 0.9rem;
            }
    
     @media (min-width: 760px) {
        font-size: 1rem;
            }
}


p{
    font-size:15px;
    font-family: "Raleway", sans-serif;
    line-height: 1.4;
    color: rgb(90, 88, 88);
    margin-top: -0.5rem;
    text-align: left;
    margin-top: 20px;

    @media (min-width: 200px) {
        font-size: 0.8rem;
        }

     @media (min-width: 500px) {
            font-size: 0.9rem;
            }
    
     @media (min-width: 760px) {
        font-size: 1 rem;
            }
    
}

ul{
    font-size: 15px;
    color: rgb(90, 88, 88);
        @media (min-width: 200px) {
            font-size: 0.8rem;
            }

        @media (min-width: 500px) {
                font-size: 0.9rem;
                }
        
        @media (min-width: 760px) {
            font-size: 1rem;
                }
}

.description-box{
    background-color: #eeeeee;
    padding: 2rem;
    border: 10px solid #cee7fa;
    box-sizing: border-box;
    margin: 0.5rem 1rem 0.5rem 1rem;

    @media (min-width: 200px) {
        margin: 0;
        padding: 0.5rem;
        }
}

.raleway-regular {
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .raleway-bold {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .raleway-italic {
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    font-style: italic;
  }

.styledwide{
    letter-spacing: 0.3em;
}
  
.styledcondensed{
    letter-spacing: -.06em;
}

.underline{
    text-decoration: underline;
}

.overline{
    text-decoration:overline;
}

.line-through{
    text-decoration:line-through;
}

.uppercase{
    text-transform: uppercase;
}

.lowercase{
    text-transform: lowercase;
}

.capitalize{
    text-transform: capitalize;
}